 

.card {
    background-color:#ffc1fd;
    margin: 10%;
    box-shadow: 10px 10px 8px rgb(0 0 0 / 50%);
}

.card-body {
    align-items: center;
}

.upload {
    align-items: center;
}

#h6 {
    
    color:#1c69b5;
    padding-left: 15px;
}

.image-preview {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border: 2px solid #000;

}

 

.button {
    border-radius: 3px;
    background-color: #5dd843;
}

 

#h1 {
    
    display: flex;
    align-items: flex-start;

}

.tfooter p,a{
  color: #000;  
}

.raise:hover,
.raise:focus{
        box-shadow: 0 0.5em 0.5em -0.4em var(-hover);
        transform:translateY(-0.25em);
}


#hi{
    font-family: 'FontAwesome';
}
.bfooter{
    background-color: #000;
    
}
.bfooter p{
    color: #ecf0f1;
    bottom: 0;
    font-family: 'PS Commons';
    font-size: 12px;
}

 #theader{
    background-color: #74b9ff;
    border-bottom: 1px solidrgb(88 123 7 / 15%);
 }

#theader a{
    font-weight: 500;
    font-size: 0.89rem;
}
.links{
    text-align: end;
}
.nav{
    background-color: #82ccdd;
    padding-left: 0;
}

.full-footer{
    
    width: 100%;
    background-color:#ecf0f1;
    bottom: 0;
    font-family: 'system-ui';
}
.full-footer a{
    text-decoration: none;
}

ul ,li{
    padding-top:8px;
}

 .data {
list-style: none !important;
}
